@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


.note {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 5px 0;
    align-items: center;
    cursor: pointer;
}

.note__item {
    color: #2525cb;
    margin: 0;
    width: 100%;
    font-family: 'Caveat', cursive;
    font-size: 27px;
    line-height: 35px;
}

.note-complite::before {
    content: '';
    display: block;
    width: calc(100% - 25px);
    height: 2px;
    background: #2525cb;
    position: absolute;
    top: 50%;
    left: -15px;
}

@media(max-width: 520px) {
    .note-complite::before {
        width: calc(100% - 20px);
        height: 1px;
    }
}

.note__btns-done {
    width: 30px;
    height: 30px;
    position: relative;
}

@media(max-width: 520px) {

    .note__btns-done,
    .note__btns-delite {
        width: 25px;
        height: 25px;
    }
}

.note__btns-done-complite {
    width: 45px;
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
}

@media(max-width: 520px) {
    .note__btns-done-complite {
        width: 35px;
        top: -10px;
    }
}

.note__btns-done-work {
    opacity: 0;
}