@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.note {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 49px 0;
    align-items: center;
}
@media(max-width: 520px) {
    .note {
        margin: 16px 0;
    }
}

.note__item {
    color: #2525cb;
    font-style: italic;
    margin: 0;
    width: 100%;
}
.note__item span {
    font-family: 'Dancing Script', cursive;
}
.note-complite::before {
    content: '';
    display: block;
    width: calc(100% - 70px);
    height: 2px;
    background: #2525cb;
    position: absolute;
    top: 50%;
    left: -15px;
}
@media(max-width: 520px){
    .note__item {
        font-size: 1em;
    }
    .note-complite::before {
        width: calc(100% - 50px);
        height: 1px;
    }
}

.note__btns {
    display: flex;
    gap: 20px;
    align-items: center;
}
@media(max-width: 520px){
    .note__btns {
        gap: 10px;
    }
}
.note__btns-delite {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 3px 6px 4.842px 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.38);
    background: var(--tab-acent, #F64D86);
    box-shadow: -0.5px 1px 4px 0px rgba(52, 52, 52, 0.78);
    cursor: pointer;
}
.note__btns-delite:hover {
    box-shadow: 0px 0px 15px red;
}
.note__btns-delite img {
    width: 16px;
}
.note__btns-done {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
@media(max-width: 520px){
    .note__btns-done, .note__btns-delite {
        width: 25px;
        height: 25px;
    }
}
.note__btns-done-complite {
    width: 45px;
    position: absolute;
    top: -16px;
    left: -4px;
    display: block;
}
@media(max-width: 520px){
    .note__btns-done-complite {
        width: 35px;
        top: -10px;
    }
}
.note__btns-done-work {
    opacity: 0;
}
